@import "tailwindcss";

@theme {
    --font-jakarta: "Plus Jakarta Sans", sans-serif;
    --font-outfit: "Outfit", sans-serif;
}

/* Global */

.request-quote-btn:hover {
    fill: white;
}

#sub-title svg {
    fill: #f55b1f;
}

.radial-gradient {
    background-color: transparent;
    background-image: radial-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.06) 100%);
}

/* Home page */

#home-hero {
    background-image: url("../src/assets/banner-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}