@import "tailwindcss";

@theme {
    --font-jakarta: "Plus Jakarta Sans", sans-serif;
    --font-outfit: "Outfit", sans-serif;
}

/* Global */

.request-quote-btn:hover {
    fill: white;
}

#sub-title svg {
    fill: #f55b1f;
}

.radial-gradient {
    background-color: transparent;
    background-image: radial-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.06) 100%);
}

/* Home page */

#home-hero {
    background-image: url("../src/assets/banner-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#about-us {
    background-image: url("../src/assets/about-bg-1.png");
    background-position: center left;
    background-repeat: no-repeat;
}

/* #about-image-tag::before {
    position: absolute;
    content: "";
    right: 0px;
    top: -30px;
    width: 0;
    height: 0;
    border-bottom: 30px solid #d34e19;
    border-right: 30px solid transparent;
    z-index: -1;
    left: auto;
} */

#about-image-tag {
    position: absolute;
    top: 50px;
    right: 5%;
    border: 1px solid #F55B1F;
}